<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign-Up Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list *ngIf="success === true">
    <ion-text>
      <p>Sign-up successfully confirmed.</p>
      <p>You can now use the application.</p>
    </ion-text>

    <div class="ion-padding">
      <ion-button expand="block" routerDirection="root" routerLink="/login">Go to Login</ion-button>
    </div>
  </ion-list>

  <ion-list *ngIf="success === false">
    <ion-text color="danger">
      <p>Something went wrong</p>
      <p>Please try again later.</p>
    </ion-text>

    <div class="ion-padding">
      <ion-button expand="block" routerDirection="root" routerLink="/login">Go to Login</ion-button>
    </div>
  </ion-list>

</ion-content>
