<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Request Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #resetRequestForm="ngForm" (ngSubmit)="resetRequestForm.valid && resetRequest(email.value)" *ngIf="!resetSent"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-list>
      <ion-text>
        <p>We will send you an email with a link to reset your password. Please fill in your email address.</p>
      </ion-text>

      <ion-item>
        <ion-input #email="ngModel" [required]="true" [spellcheck]="false" autocapitalize="off"
                   autocomplete="username" email
                   label="Email" labelPlacement="stacked"
                   name="email" ngModel type="email"></ion-input>
      </ion-item>

      <ion-text [hidden]="email.valid || !resetRequestForm.submitted" class="ion-padding-start" color="danger">
        <div *ngIf="email.errors?.['required']" class="ion-padding-start">
          Email is required
        </div>
        <div *ngIf="email.errors?.['email']" class="ion-padding-start">
          Not a valid email address
        </div>
      </ion-text>

      <div class="ion-padding">
        <ion-button expand="block" type="submit">Request Password Reset</ion-button>
      </div>
    </ion-list>

  </form>

  <ion-list *ngIf="resetSent">
    <ion-text>
      <p>We sent you an email with a link</p>
      <p><strong>Please check your inbox and click on the link.</strong></p>
    </ion-text>
  </ion-list>

</ion-content>
