<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Email Change Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (success === true) {
    <ion-list>
      <ion-text>
        <p>Email Change successfully confirmed.</p>
      </ion-text>
      <div class="ion-padding">
        <ion-button expand="block" routerDirection="root" routerLink="/login">Go to Login</ion-button>
      </div>
    </ion-list>
  }

  @if (success === false) {
    <ion-list>
      <ion-text color="danger">
        <p>Something went wrong</p>
        <p>Please try again later.</p>
      </ion-text>
    </ion-list>
  }

</ion-content>
