<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/todo"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Edit Todo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #todoForm="ngForm" (ngSubmit)="todoForm.valid && save(todoForm)"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-list lines="none" *ngIf="selectedTodo">
      <ion-item>
        <ion-label position="stacked">Subject</ion-label>
        <ion-input #subject="ngModel" [ngModel]="selectedTodo.subject" [required]="true" name="subject"></ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="subject.valid || !todoForm.submitted" class="ion-padding-start">
          Subject is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea [ngModel]="selectedTodo.description" [rows]="3"
                      name="description"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit">Save</ion-button>
    </div>

  </form>

  <ion-fab *ngIf="selectedTodo?.id" horizontal="start" slot="fixed" vertical="bottom">
    <ion-fab-button color="danger" (click)="deleteTodo()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
