<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" />
    </ion-buttons>
    <ion-title>Sign-Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (!signUpSent()) {
    <form (submit)="signup(); $event.preventDefault()" novalidate>
      <ion-grid>
        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            <ion-item>
              <ion-input
                [formField]="signupForm.email"
                [spellcheck]="false"
                autocapitalize="off"
                autocomplete="username"
                label="Email"
                labelPlacement="stacked"
                type="email"
              />
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            @if (submitted() && signupForm.email().invalid()) {
              <ion-text color="danger">
                @if (signupForm.email().getError('required')) {
                  <p class="ion-padding-start">Email is required</p>
                }
                @if (signupForm.email().getError('email')) {
                  <p class="ion-padding-start">Not a valid email address</p>
                }
              </ion-text>
            }
            @if (submitError() === 'emailExists') {
              <ion-text color="danger">
                <p class="ion-padding-start">User with this email address already exists</p>
              </ion-text>
            }
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            <ion-item>
              <ion-input
                [formField]="signupForm.password"
                autocomplete="new-password"
                label="New Password"
                labelPlacement="stacked"
                type="password"
              />
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            @if (submitted() && signupForm.password().invalid()) {
              <ion-text color="danger">
                @if (signupForm.password().getError('required')) {
                  <p class="ion-padding-start">Password is required</p>
                }
                @if (signupForm.password().getError('minLength')) {
                  <p class="ion-padding-start">Minimum length is 8 characters</p>
                }
              </ion-text>
            }
            @if (submitError() === 'weakPassword') {
              <ion-text color="danger">
                <p class="ion-padding-start">Weak password</p>
              </ion-text>
            }
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-margin-top" offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            <ion-button expand="block" type="submit">Sign up</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  }

  @if (signUpSent()) {
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text>
            <p>We successfully received your sign up request.</p>
            <p>Before we activate your account we need to verify your email address.</p>
            <p>We sent you an email with a confirmation link.</p>
            <p><strong>Please check your inbox and click on the link.</strong></p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  }
</ion-content>
