<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign-Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #signupForm="ngForm" (ngSubmit)="signupForm.valid && signup(signupForm, email.value, password.value)"
        *ngIf="!signUpSent"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>
    <ion-list>
      <ion-item>
        <ion-input #email="ngModel" [required]="true" [spellcheck]="false" autocapitalize="off"
                   autocomplete="username" email
                   label="Email" labelPlacement="stacked"
                   name="email"
                   ngModel type="email"></ion-input>
      </ion-item>
      <ion-text [hidden]="email.valid || !signupForm.submitted" class="ion-padding-start" color="danger">
        <div *ngIf="email.errors?.['required']" class="ion-padding-start">
          Email is required
        </div>
        <div *ngIf="email.errors?.['email']" class="ion-padding-start">
          Not a valid email address
        </div>
        <div *ngIf="email.errors?.['exists']" class="ion-padding-start">
          User with this email address already exists
        </div>
      </ion-text>

      <ion-item>
        <ion-input #password="ngModel" [minlength]="8" [required]="true" autocomplete="new-password"
                   label="New Password"
                   labelPlacement="stacked" name="password"
                   ngModel type="password"></ion-input>
      </ion-item>

      <ion-text [hidden]="password.valid || !signupForm.submitted" class="ion-padding-start" color="danger">
        <div *ngIf="password.errors?.['required']" class="ion-padding-start">
          Password is required
        </div>
        <div *ngIf="password.errors?.['minlength'] || password.errors?.['gte']" class="ion-padding-start">
          Minimum length is 8 characters
        </div>
        <div *ngIf="password.errors?.['weak']" class="ion-padding-start">
          Weak password
        </div>
      </ion-text>

      <div class="ion-padding">
        <ion-button expand="block" type="submit">Sign up</ion-button>
      </div>

    </ion-list>
  </form>

  <ion-list *ngIf="signUpSent" class="ion-margin-top">
    <ion-text>
      <p>We successfully received your sign up request.</p>
      <p>Before we activate your account we need to verify your email address.</p>
      <p>We sent you an email with a confirmation link.</p>
      <p><strong>Please check your inbox and click on the link.</strong></p>
    </ion-text>
  </ion-list>

</ion-content>
