<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #changeForm="ngForm" (ngSubmit)="changeForm.valid && changePassword(oldPassword.value, newPassword.value)"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-grid>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text>
            <p>
              To change your password enter your old and a new password. Changing your
              password invalidates all your login sessions and logs you out.
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-label position="stacked">Old Password</ion-label>
            <ion-input #oldPassword="ngModel" [minlength]="8" [required]="true"
                       autocomplete="current-password" name="oldPassword"
                       ngModel type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text *ngIf="changeForm.submitted && oldPassword.invalid" color="danger">
            <p *ngIf="oldPassword.errors?.required" class="ion-padding-start">
              Old Password is required
            </p>
            <p *ngIf="oldPassword.errors?.minlength" class="ion-padding-start">
              Minimum length is 8 characters
            </p>
          </ion-text>
          <ion-text *ngIf="submitError" color="danger">
            <p *ngIf="submitError === 'passwordInvalid'" class="ion-padding-start">
              Password is invalid
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-label position="stacked">New Password</ion-label>
            <ion-input #newPassword="ngModel" [minlength]="8" [required]="true"
                       autocomplete="new-password" name="newPassword"
                       ngModel type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text *ngIf="changeForm.submitted && newPassword.invalid" color="danger">
            <p *ngIf="newPassword.errors?.required" class="ion-padding-start">
              New Password is required
            </p>
            <p *ngIf="newPassword.errors?.minlength" class="ion-padding-start">
              Minimum length is 8 characters
            </p>
          </ion-text>
          <ion-text *ngIf="submitError" color="danger">
            <p *ngIf="submitError === 'weakPassword'" class="ion-padding-start">
              Weak password
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-margin-top" offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-button expand="block" type="submit">Change Password</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>
</ion-content>
