<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #changeForm="ngForm" (ngSubmit)="changeForm.valid && changePassword(oldPassword.value, newPassword.value)"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-list>

      <ion-text>
          To change your password enter your old and a new password.
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Old Password</ion-label>
        <ion-input #oldPassword="ngModel" [minlength]="8" [required]="true"
                   autocomplete="current-password" name="oldPassword"
                   ngModel type="password"></ion-input>
      </ion-item>


      <ion-text [hidden]="oldPassword.valid || !changeForm.submitted" class="ion-padding-start" color="danger">
        <div *ngIf="oldPassword.errors?.required" class="ion-padding-start">
          Old Password is required
        </div>
        <div *ngIf="oldPassword.errors?.minlength || oldPassword.errors?.gte" class="ion-padding-start">
          Minimum length is 8 characters
        </div>
        <div *ngIf="oldPassword.errors?.invalid" class="ion-padding-start">
          Password is invalid
        </div>
      </ion-text>

      <ion-item>
        <ion-label position="stacked">New Password</ion-label>
        <ion-input #newPassword="ngModel" [minlength]="8" [required]="true"
                   autocomplete="new-password" name="newPassword"
                   ngModel type="password"></ion-input>
      </ion-item>

      <ion-text [hidden]="newPassword.valid || !changeForm.submitted" class="ion-padding-start" color="danger">
        <div *ngIf="newPassword.errors?.required" class="ion-padding-start">
          New Password is required
        </div>
        <div *ngIf="newPassword.errors?.minlength || newPassword.errors?.gte" class="ion-padding-start">
          Minimum length is 8 characters
        </div>
        <div *ngIf="newPassword.errors?.weak" class="ion-padding-start">
          Weak password
        </div>
      </ion-text>

      <div class="ion-padding">
        <ion-button expand="block" type="submit">Change Password</ion-button>
      </div>

    </ion-list>

  </form>
</ion-content>
