<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #changeForm="ngForm" (ngSubmit)="changeForm.valid && changePassword(oldPassword.value, newPassword.value)"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-list>

      <ion-text>
        To change your password enter your old and a new password.
      </ion-text>

      <ion-item>
        <ion-input #oldPassword="ngModel" [minlength]="8" [required]="true"
                   autocomplete="current-password" label="Old Password"
                   labelPlacement="stacked" name="oldPassword"
                   ngModel type="password"></ion-input>
      </ion-item>


      <ion-text [hidden]="oldPassword.valid || !changeForm.submitted" class="ion-padding-start" color="danger">
        @if (oldPassword.errors?.['required']) {
          <div class="ion-padding-start">
            Old Password is required
          </div>
        }
        @if (oldPassword.errors?.['minlength'] || oldPassword.errors?.['gte']) {
          <div class="ion-padding-start">
            Minimum length is 8 characters
          </div>
        }
        @if (oldPassword.errors?.['invalid']) {
          <div class="ion-padding-start">
            Password is invalid
          </div>
        }
      </ion-text>

      <ion-item>
        <ion-input #newPassword="ngModel" [minlength]="8" [required]="true"
                   autocomplete="new-password" label="New Password"
                   labelPlacement="stacked" name="newPassword"
                   ngModel type="password"></ion-input>
      </ion-item>

      <ion-text [hidden]="newPassword.valid || !changeForm.submitted" class="ion-padding-start" color="danger">
        @if (newPassword.errors?.['required']) {
          <div class="ion-padding-start">
            New Password is required
          </div>
        }
        @if (newPassword.errors?.['minlength'] || newPassword.errors?.['gte']) {
          <div class="ion-padding-start">
            Minimum length is 8 characters
          </div>
        }
        @if (newPassword.errors?.['weak']) {
          <div class="ion-padding-start">
            Weak password
          </div>
        }
      </ion-text>

      <div class="ion-padding">
        <ion-button expand="block" type="submit">Change Password</ion-button>
      </div>

    </ion-list>

  </form>
</ion-content>
