<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Logged out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        @if (showMsg()) {
          <ion-text color="success"> You have been successfully logged out. </ion-text>
        }
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerDirection="root" routerLink="/login"
          >Go to Login</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
