<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile" />
    </ion-buttons>
    <ion-title> Change Email </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (!changeSent()) {
    <form [formRoot]="emailForm" (submit)="changeEmail(); $event.preventDefault()" novalidate>
      <ion-grid>
        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            <ion-text>
              <p>An email change is not going to be active immediately.</p>
              <p>
                After you've sent the change request we will send you a confirmation email to the
                new address.
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            <ion-item>
              <ion-input
                [formField]="emailForm.password"
                autocomplete="current-password"
                label="Password"
                labelPlacement="stacked"
                type="password"
              />
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            @if (submitted() && emailForm.password().invalid()) {
              <ion-text color="danger">
                @if (emailForm.password().getError('required')) {
                  <p class="ion-padding-start">Password is required</p>
                }
                @if (emailForm.password().getError('minLength')) {
                  <p class="ion-padding-start">Minimum length is 8 characters</p>
                }
              </ion-text>
            }
            @if (submitError() === 'passwordInvalid') {
              <ion-text color="danger">
                <p class="ion-padding-start">Password is invalid</p>
              </ion-text>
            }
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            <ion-item>
              <ion-input
                [formField]="emailForm.newEmail"
                [spellcheck]="false"
                autocapitalize="off"
                autocomplete="username"
                label="New Email"
                labelPlacement="stacked"
                type="email"
              />
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            @if (submitted() && emailForm.newEmail().invalid()) {
              <ion-text color="danger">
                @if (emailForm.newEmail().getError('required')) {
                  <p class="ion-padding-start">Email is required</p>
                }
                @if (emailForm.newEmail().getError('email')) {
                  <p class="ion-padding-start">Not a valid email address</p>
                }
              </ion-text>
            }
            @if (submitError() === 'emailExists') {
              <ion-text color="danger">
                <p class="ion-padding-start">Email already exists</p>
              </ion-text>
            }
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-margin-top" offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
            <ion-button expand="block" type="submit">Change Email</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  }

  @if (changeSent()) {
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text>
            <p>We successfully received your email change request.</p>
            <p>Before we activate the change we need to verify your new email address.</p>
            <p>We sent you an email to the new address with a confirmation link.</p>
            <p><strong>Please check your inbox and click on the link.</strong></p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  }
</ion-content>
