<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #resetForm="ngForm" (ngSubmit)="resetForm.valid && reset(resetForm, password.value)"
        *ngIf="!success && showForm"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-list>
      <ion-item>
        <ion-label position="stacked">New Password</ion-label>
        <ion-input #password="ngModel" [minlength]="8" [required]="true" autocomplete="new-password" name="password"
                   ngModel type="password"></ion-input>
      </ion-item>

      <ion-text [hidden]="password.valid || !resetForm.submitted" class="ion-padding-start" color="danger">
        <div *ngIf="password.errors?.['required']" class="ion-padding-start">
          Password is required
        </div>
        <div *ngIf="password.errors?.['minlength'] || password.errors?.['gte']" class="ion-padding-start">
          Minimum length is 8 characters
        </div>
        <div *ngIf="password.errors?.['weak']" class="ion-padding-start">
          Weak password
        </div>
      </ion-text>

      <div class="ion-padding">
        <ion-button expand="block" type="submit">Change Password</ion-button>
      </div>
    </ion-list>
  </form>

  <ion-list *ngIf="success">
    <ion-text>
      <p>Password successfully changed.</p>
    </ion-text>
    <div class="ion-padding">
      <ion-button expand="block" routerDirection="root" routerLink="/login">Go to Login</ion-button>
    </div>
  </ion-list>

  <ion-list *ngIf="!showForm">
    <ion-text>
      <p>Something went wrong</p>
      <p>Please try again later.</p>
    </ion-text>
    <div class="ion-padding">
      <ion-button expand="block" routerDirection="root" routerLink="/login">Go to Login</ion-button>
    </div>
  </ion-list>


</ion-content>
