<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (!success && showForm) {
    <form #resetForm="ngForm" (ngSubmit)="resetForm.valid && reset(resetForm, password.value)"
      [ngFormOptions]="{updateOn: 'submit'}" novalidate>
      <ion-list>
        <ion-item>
          <ion-input #password="ngModel" [minlength]="8" [required]="true" autocomplete="new-password"
            label="New Password"
            labelPlacement="stacked" name="password"
          ngModel type="password"></ion-input>
        </ion-item>
        <ion-text [hidden]="password.valid || !resetForm.submitted" class="ion-padding-start" color="danger">
          @if (password.errors?.['required']) {
            <div class="ion-padding-start">
              Password is required
            </div>
          }
          @if (password.errors?.['minlength'] || password.errors?.['gte']) {
            <div class="ion-padding-start">
              Minimum length is 8 characters
            </div>
          }
          @if (password.errors?.['weak']) {
            <div class="ion-padding-start">
              Weak password
            </div>
          }
        </ion-text>
        <div class="ion-padding">
          <ion-button expand="block" type="submit">Change Password</ion-button>
        </div>
      </ion-list>
    </form>
  }

  @if (success) {
    <ion-list>
      <ion-text>
        <p>Password successfully changed.</p>
      </ion-text>
      <div class="ion-padding">
        <ion-button expand="block" routerDirection="root" routerLink="/login">Go to Login</ion-button>
      </div>
    </ion-list>
  }

  @if (!showForm) {
    <ion-list>
      <ion-text>
        <p>Something went wrong</p>
        <p>Please try again later.</p>
      </ion-text>
      <div class="ion-padding">
        <ion-button expand="block" routerDirection="root" routerLink="/login">Go to Login</ion-button>
      </div>
    </ion-list>
  }


</ion-content>
