<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button />
    </ion-buttons>
    <ion-title>
      Todos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher (ionRefresh)="refresh($event)" [pullFactor]="0.6" slot="fixed">
    <ion-refresher-content />
  </ion-refresher>

  @if (todos$ | async; as todos) {
    <ion-list lines="full">
      @for (todo of todos; track todo.id) {
        <ion-item [detail]="true" routerLink="./edit/{{todo.id}}">
          <ion-label>{{ todo.subject }}</ion-label>
        </ion-item>
      }
    </ion-list>
  }

  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button routerDirection="forward" routerLink="./edit">
      <ion-icon name="add" />
    </ion-fab-button>
  </ion-fab>

</ion-content>
