<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile" />
    </ion-buttons>
    <ion-title>
      Delete Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #deleteForm="ngForm" (ngSubmit)="deleteForm.valid && deleteAccount(password.value)"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-list>

      <ion-text color="danger">
        <p>Deleting your account deletes all your data and account information.</p>
        <p><strong>This action is irreversible!</strong></p>
      </ion-text>

      <ion-item>
        <ion-input #password="ngModel" [minlength]="8" [required]="true"
                   autocomplete="current-password" label="Password"
                   labelPlacement="stacked" name="password"
                   ngModel type="password" />
      </ion-item>


      <ion-text [hidden]="password.valid || !deleteForm.submitted" class="ion-padding-start" color="danger">
        @if (password.errors?.['required']) {
          <div class="ion-padding-start">
            Password is required
          </div>
        }
        @if (password.errors?.['minlength'] || password.errors?.['gte']) {
          <div class="ion-padding-start">
            Minimum length is 8 characters
          </div>
        }
        @if (password.errors?.['invalid']) {
          <div class="ion-padding-start">
            Password is invalid
          </div>
        }
      </ion-text>

      <div class="ion-padding">
        <ion-button color="danger" expand="block" type="submit">Delete my Account</ion-button>
      </div>

    </ion-list>

  </form>

</ion-content>
