<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile" />
    </ion-buttons>
    <ion-title> Delete Account </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formRoot]="deleteForm" (submit)="deleteAccount(); $event.preventDefault()" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text color="danger">
            <p>Deleting your account deletes all your data and account information.</p>
            <p><strong>This action is irreversible!</strong></p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-input
              [formField]="deleteForm.password"
              autocomplete="current-password"
              label="Password"
              labelPlacement="stacked"
              type="password"
            />
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          @if (submitted() && deleteForm.password().invalid()) {
            <ion-text color="danger">
              @if (deleteForm.password().getError('required')) {
                <p class="ion-padding-start">Password is required</p>
              }
              @if (deleteForm.password().getError('minLength')) {
                <p class="ion-padding-start">Minimum length is 8 characters</p>
              }
            </ion-text>
          }
          @if (submitError() === 'passwordInvalid') {
            <ion-text color="danger">
              <p class="ion-padding-start">Password is invalid</p>
            </ion-text>
          }
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-margin-top" offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-button color="danger" expand="block" type="submit">Delete my Account</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
