<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login(loginForm, email.value, password.value)"
    [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-list>
      <ion-item>
        <ion-input #email="ngModel" [required]="true" [spellcheck]="false" autocapitalize="off"
          autocomplete="username" email
          label="Email" labelPlacement="stacked"
          name="email"
        ngModel type="email"></ion-input>
      </ion-item>
      <ion-text [hidden]="email.valid || !loginForm.submitted" class="ion-padding-start" color="danger">
        @if (email.errors?.['required']) {
          <div class="ion-padding-start">
            Email is required
          </div>
        }
        @if (email.errors?.['email']) {
          <div class="ion-padding-start">
            Not a valid email address
          </div>
        }
      </ion-text>

      <ion-item>
        <ion-input #password="ngModel" [minlength]="8" [required]="true" autocomplete="current-password"
          label="Password" labelPlacement="stacked"
          name="password"
          ngModel
        type="password"></ion-input>
      </ion-item>

      <ion-text [hidden]="password.valid || !loginForm.submitted" class="ion-padding-start" color="danger">
        @if (password.errors?.['required']) {
          <div class="ion-padding-start">
            Password is required
          </div>
        }
        @if (password.errors?.['minlength'] || password.errors?.['gte']) {
          <div class="ion-padding-start">
            Minimum length is 8 characters
          </div>
        }
      </ion-text>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit">Login</ion-button>
    </div>
    <div class="ion-padding">
      <ion-button color="light" expand="block" routerDirection="forward" routerLink="/signup" type="button">Sign Up
      </ion-button>
    </div>
    <div class="ion-padding">
      <ion-button expand="block" fill="clear" routerDirection="forward" routerLink="/password-reset-request"
        type="button">Forgot my Password
      </ion-button>
    </div>

  </form>
</ion-content>
