<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="login(); $event.preventDefault()" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-input
              [formField]="loginForm.email"
              [spellcheck]="false"
              autocapitalize="off"
              autocomplete="username"
              label="Email"
              labelPlacement="stacked"
              type="email"
            />
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          @if (submitted() && loginForm.email().invalid()) {
            <ion-text color="danger">
              @if (loginForm.email().getError('required')) {
                <p class="ion-padding-start">Email is required</p>
              }
              @if (loginForm.email().getError('email')) {
                <p class="ion-padding-start">Not a valid email address</p>
              }
            </ion-text>
          }
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-input
              [formField]="loginForm.password"
              autocomplete="current-password"
              label="Password"
              labelPlacement="stacked"
              type="password"
            />
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          @if (submitted() && loginForm.password().invalid()) {
            <ion-text color="danger">
              @if (loginForm.password().getError('required')) {
                <p class="ion-padding-start">Password is required</p>
              }
              @if (loginForm.password().getError('minLength')) {
                <p class="ion-padding-start">Minimum length is 8 characters</p>
              }
            </ion-text>
          }
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-margin-top" offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-button expand="block" type="submit">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-button
            color="light"
            expand="block"
            routerDirection="forward"
            routerLink="/signup"
            type="button"
          >
            Sign Up
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-button
            expand="block"
            fill="clear"
            routerDirection="forward"
            routerLink="/password-reset-request"
            type="button"
          >
            Forgot my Password
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
