<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login(email.value, password.value)"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-grid>
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input #email="ngModel" [required]="true" [spellcheck]="false" autocapitalize="off"
                       autocomplete="username" email
                       name="email"
                       ngModel type="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text *ngIf="loginForm.submitted && email.invalid" color="danger">
            <p *ngIf="email.errors?.required" class="ion-padding-start">
              Email is required
            </p>
            <p *ngIf="email.errors?.email" class="ion-padding-start">
              Not a valid email address
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input #password="ngModel" [minlength]="8" [required]="true" autocomplete="current-password"
                       name="password"
                       ngModel
                       type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text *ngIf="loginForm.submitted && password.invalid" color="danger">
            <p *ngIf="password.errors?.required" class="ion-padding-start">
              Password is required
            </p>
            <p *ngIf="password.errors?.minlength" class="ion-padding-start">
              Minimum length is 8 characters
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-margin-top" offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-button expand="block" type="submit">Login</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
